body{
  background-image: url("../img/fondo8.jpg");
  background-size: cover;
}
.titulo{
  color: #3385ff;
  font-family: 'Roboto Slab', serif;
  margin-top: 50px;
}
.btn{
  background-color: #8a8a8a;
  border-color: #8a8a8a;
  color: #000000;
}
.btn:hover{
  background-color: #8a8a8a;
}
.row{
  padding-top: 50px;
  text-align: center;
}
.bg-light{
  background-color:  #8a8a8a!important;
  font-family: 'Roboto Slab', serif;

}
.navbar-light .navbar-nav .nav-link{
  color: #000000;
}
.dropdown-item:hover{
  background-color: #282828;
  color: #FFFFFF;
}
.dropdown-menu{
  background-color: #8a8a8a;
}
