body{
  background-image: url("../img/fondo3.jpg");
  background-size: cover;
}
.titulo{
  color: #3385ff;
  font-family: 'Roboto Slab', serif;

}
.btn{
  background-color: #e6b800;
  margin-bottom:5px;
  color: #3385ff;
}
a {
  color:blue;
}

.descarga{
  background-color: #e6b800;
  margin-left: 15px;
}
